[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/stylenest/backend
ExecStart=/home/ubuntu/stylenest/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind 0.0.0.0:8000 \
          backend.wsgi:application

[Install]
WantedBy=multi-user.target

